.ModuleCaption{
    margin-top: -45px !important;
}
#top-button-panel{
    padding:5px;
    padding-bottom: 10px;
}
.chartPan{
    border: 0px solid #cccccc;
  float: left;
  width: 55%;
  height: 300px;
  overflow: hidden;
  vertical-align: middle;
  background-color : white;
}
.searchPan{
        border: 1px solid #cccccc;
        float:left;
        min-height: 300px !important;
         width: 45%;
  vertical-align: middle; 
  padding:15px;
  padding-top:25px;        
  overflow: hidden;  
}


.edit_image{
  width: 20px;
  height: 20px;
  cursor: pointer; cursor: hand;
}
.logout{
  text-align: right;
  cursor: pointer; cursor: hand;
}


.hide{
  display : none;
}

.show{
  display: visible;
}

.center{
  border: 0px solid;
}

.asmHist{
    background: white;
    min-height:400px;
}

.chartLoadingDiv{
    float:left;
    width:600px;
    height: 300px;
    text-align: center;
    vertical-align: middle;
    padding: 110px;
}



/********************************************************************************/

 .sub{
     width:90px;
     float:left;
     min-height:70px;
     padding:10px;
     background:#cccccc;
     margin:10px;
     border:1px solid rgb(0,9,81);
     cursor: pointer; cursor: hand;
     text-align: center;
     word-wrap: true;
     color:rgb(255,255,255);
     background: rgb(43,128,159);
 }
 .link{
     width:90px;
     float:left;
     min-height:10px;
     padding:3px;
     background:#f9f9f9;
     border:1px solid rgb(43,128,159);
     margin-bottom: 10px;
     text-align: center;
     
 }
 .linkList{
     width: 20px;
     float: left;
     min-height: 1px;
     background: rgb(43,128,159);
     margin-top: 13px;
     border: 1px solid rgb(43,128,159);
     
 }
 .extra{
     width: 10px;
     float: left;
     min-height: 1px;
 }

 .floating{
     position:absolute;
     float:left;
     z-index: 10;
     /*margin-top: 120px;
     margin-left: 580px;*//* chnage total div position*/
     display: none;
     width:29%;
 }

  .image_arrow{
     height: 30px;
     width: 30px;
     margin-bottom: -10px;
     margin-left:5px;/* chnage arrow position*/
 }
 .image_box{
     height: auto;
    width: auto;
    background: #027d5a;
    padding: 10px;
    color: #fff;
    border-radius: 5px; 
 }

 .nodecontainer{
    margin : 0 auto;
    width : auto;
    border: 1px solid;

}

.content{
    width:auto;
    margin : 0 auto;    
    border: 1px solid #cccccc;
}

.userImage{
  border-radius: 12px;
  width:auto;
  height: 65px;
}

.nodeItemLabel1{

width: 40%;
text-align: left;

}
.nodeItemValue{
    width: 60%;
    text-align: right;
    margin-left: 40%;
    margin-top: -19px;

}

.nodeHeader_item{
    font-size: 13px;
    font-weight: bold;
    padding: 4px;
    max-width: 200px;
    text-align: center;
    margin-left: 15px;
}




.nodeItems{
    max-height: 60px !important;
    max-width: 300px !important;
    
}

.hrclass{
    margin-top: 8px !important;
    margin-bottom: 0px !important; 
    height: 1px;
    border: 0;
    border-top: 1px solid #fff;
    padding: 2px;     
}

.histModal{
    min-width: 900px !important;
}

#qa3 > div{
    height: auto !important;
}
